.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.App-accountList {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
